
/* DESKTOP VIEW */
@media (min-width: 695px){
    *{
      box-sizing: border-box;
    }
    
    body{
      margin: 0;
      padding: 0;
      --my-form-time: 300ms;     
      --nav-load-time: 500ms;
      --nav-link-load-time: 500ms;
      --form-list-delay: calc(var(--nav-load-time) + 800ms);
    }
    
    .myhead{
      font-family: cursive;
      font-size: 2rem;
      margin-left: 2rem;
      padding: 0;
    }
    
    #mynav a{
      color: white;
      font-size: 1rem;
      font-family: Tahoma;
      font-weight: bold;
      text-decoration: none;
      margin: auto;
      padding: 1rem;

      animation: nav-link-load var(--nav-link-load-time) ease-in;
      animation-fill-mode: forwards;
      /* animation-delay: var(--form-list-delay); */
    }
    
    #mynav{
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 5px solid red;

      animation: nav-load var(--nav-load-time) ease-in;
    }

    @keyframes nav-load {
      0%{
        transform: translateY(-100%);
      }

      100%{
        transform: translateY(0%);
      }
    }
    
    #navlink{
    display: flex;
    margin: 0;
    padding: 0;
    }
    
    #mylist{
      display: flex;
      list-style: none;
      margin: 0%;
      padding-block: 2rem;
      padding-inline: 0rem;
      
    }
    
    #navlink li a:hover{
    background-color: red;
    width: 100;
    }
    
    .li{
      list-style: none;
      margin: 0;
      padding: 0;
     
    }
    
    .welcomeback{
      text-align: center;
      font-family: cursive;
    }  

    .my_form{
      background-image: url(./pic9.jfif);
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 30rem;
      text-align: center;

      animation: my-form ease-in var(--my-form-time);
      animation-duration: var(--form-list-delay);
    }

    @keyframes my-form {
      0%{
        transform: translatex(-100%);
      }

      100%{
        transform: translatex(0);
      }
    }


    .form_list{
      background-color: blanchedalmond;
      height: 30rem;
      margin-left: 26rem;
      margin-right: 26rem;
      padding-block: 6rem;

      animation: form-list ease-in var(--form-list-delay);
      animation-delay: var(--form-list-delay);
    }

    @keyframes form-list {
      0%{
        transform: translateX(100%);
      }

      100%{
        transform: translateX(0);
      }
    }

    .my_form input{
      background-color: blanchedalmond;
      font-size: 1.1rem;
      font-weight: bold;
      height: 3rem;
      width: 25rem;
      padding: 0.5rem;
      margin: 0.8rem;
      border: none;
      border-bottom: 3px solid darkorange;
      border-right: 3px solid darkorange;
      border-left: 3px solid darkorange;
      outline: none;
    }

    .form_list p{
      font-size: 1.1rem;
    }

    .form_list p a{
      color: darkorange;
      font-size: 1.3rem;
      font-weight: lighter;
      text-decoration: none;
      cursor: pointer;
    }

    .my_form button{
      background-color: #f8b412;
      color: white;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      outline: none;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0px 3px 5px 3px rgb(0, 0, 3);
      height: 3rem;
      width: 25rem;
      cursor: pointer;
  }

  .my_form button:hover{
      background-color: darkorange;
      color: white;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      outline: none;
      border-radius: 1rem;
      height: 3rem;
      width: 25rem;
      cursor: pointer;
  }

  .my_form button:active{
      background-color: rgb(233, 14, 14);
      color: white;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      outline: none;
      border-radius: 1rem;
      height: 3rem;
      width: 25rem;
      cursor: pointer;
  }

  .my_images{
    display: flex;
    height: 10px;
    width: 10px;
  }
    
}
    
    /* DISPLAY ON MOBILE */
    @media screen and (min-width: 350px) and (max-width: 700px){
      *{
        box-sizing: border-box;
      }
      
    body{
      margin: 0;
      padding: 0;

      --my-form-time: 300ms;     
      --nav-load-time: 500ms;
      --nav-link-load-time: 500ms;
      --form-list-delay: calc(var(--nav-load-time) + 800ms);
    }
    
    .myhead{
      color: white;  
      font-family: cursive;
      text-align: center;
      font-size: 3.4rem;
      margin: 0;
      padding: 0;
    }
    
    a{
      color: white;
      font-size: 1.3rem;
      font-family: Tahoma;
      font-weight: bold;
      text-decoration: none;
      display: block;
      align-items: space-between;
      margin: 0;
      padding: 1rem;
    }
    
    #mynav{
      background-color: #333;
      text-align: center;
      align-items: space-between;
      display: block;
      margin: 0;
      padding: 0;
      animation: nav-load var(--nav-load-time) ease-in;
    }

    @keyframes nav-load {
      0%{
        transform: translateY(-100%);
      }

      100%{
        transform: translateY(0%);
      }
    }

    #mynav a{
      color: white;
      font-size: 1rem;
      font-family: Tahoma;
      font-weight: bold;
      text-decoration: none;
      margin: auto;
      padding: 1rem;

      
    }
    
    #navlink li a:hover{
      background-color: #555;
      }
      
    
    #navlink{
      display: block;
      margin: 0;
      padding: 0;
    }
    
    #mylist{
      color: white;
      list-style: none;
      align-items: center;
      display: inline-block;
      margin: 0;
      animation: nav-link-load var(--nav-link-load-time) ease-in;
      animation-fill-mode: forwards;
      /* animation-delay: var(--form-list-delay); */
    }
    
    .li{
      margin: 0;
      padding: 0;
      
    }
    
    h2{
      text-align: center;
      color: green;
    }


    .my_form{
      background-image: url(./pic10.jfif);
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      height: 27rem;
      text-align: center;
      animation: my-form ease-in var(--my-form-time);
      animation-duration: var(--form-list-delay);
    }

    @keyframes my-form {
      0%{
        transform: translatex(-100%);
      }

      100%{
        transform: translatex(0);
      }
    }

    .form_list{
      padding-block: 4rem;
      
    }

    .my_form input{
      background-color: rgb(248, 243, 235);
      font-size: 1.1rem;
      font-weight: bold;
      height: 3rem;
      width: 25rem;
      padding: 0.5rem;
      margin: 0.8rem;
      border: none;
      border-bottom: 3px solid darkorange;
      border-right: 3px solid darkorange;
      outline: none;
    }

    .form_list p{
      font-size: 1.1rem;
    }

    .form_list p a{
      color: darkorange;
      font-size: 1.1rem;
      font-weight: lighter;
      cursor: pointer;
    }

    .my_form button{
      background-color: #f8b412;
      color: white;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      outline: none;
      border: none;
      border-radius: 0.5rem;
      height: 3rem;
      width: 25rem;
      cursor: pointer;
  }

  .my_form button:hover{
      background-color: darkorange;
      color: white;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      outline: none;
      border-radius: 1rem;
      height: 3rem;
      width: 25rem;
      cursor: pointer;
  }

  .my_form button:active{
      background-color: rgb(233, 14, 14);
      color: white;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      outline: none;
      border-radius: 1rem;
      height: 3rem;
      width: 25rem;
      cursor: pointer;
  }
  
    
    }
    